@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem-vindo(a)!</h1>
    <a asp-action="cadastrar" asp-controller="estabelecimento" class="btn btn-primary">Cadastrar Estabelecimento</a>
</div>
