@{
    ViewData["title"] = "Nova Doação";
}

@section Links{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Home" asp-action="Index">Página inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link current-page" style="font-size:22px; color: var(--main-red); font-weight: bold" asp-controller="Home" asp-action="NovaDoacao">Doar Alimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Ong" asp-action="Index">ONGs</a>
            </li>
        </ul>
    </div>
}

<div class="b-radius box-shadow h-100 w-100 d-flex">
    <div class="h-100 col-8">
        <div class="d-flex justify-content-between">
            <h3 class="title m-5" style="height: 10%">@ViewData["title"]</h3>
            <form class="d-flex" asp-action="index" asp-controller="Ong">
                <input name="pesquisa" class="form-control" id="pesquisa" placeholder="Procurar ong por endereço" style="border-radius: 10px 0 0 10px;" />
                <button type="submit" class="btn btn-sm p-0 col-3" style="background-color:  var(--light-red); border-radius: 0 10px 10px 0; height: 30%;">
                    <span class="material-icons mt-1 text-white">
                        search
                    </span>
                </button>
            </form>
        </div>
        <div class="ml-4 pre-scrollable" style="height: 55%">
            <div class="d-flex flex-wrap">
                @foreach (var item in ViewBag.itens)
                {
                    <div class="box-shadow h-25 b-radius m-2" style="width: 30%">
                        <div class="d-flex justify-content-between">
                            <h6 class="paragraph m-3">@item.Nome</h6>
                            <input name="@item.ItemId" type="checkbox" class="my-auto mr-3" />
                        </div>
                        <div class="d-flex">
                            <p class="paragraph" style="font-size: 12px">Quantidade</p>
                            <input class="col-2" />
                            <div class="d-flex flex-column align-items-center">
                                <label>un/Kg/L</label>
                                <input class="col-3" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-3 box-shadow b-radius m-auto" style="background-color: var(--light-grey); height: 80%; margin-top: 5%">
        <h5 class="text-danger d-flex justify-content-center mt-3">Itens a doar</h5>
    </div>
</div>
