@{
    ViewData["title"] = "Nova Doação";
}

@section Links{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Home" asp-action="Index">Página inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link current-page" style="font-size:22px; color: var(--main-red); font-weight: bold" asp-controller="Home" asp-action="NovaDoacao">Doar Alimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Ong" asp-action="Index">ONGs</a>
            </li>
        </ul>
    </div>
}

<div class="h-100 w-100 m-auto d-flex justify-content-center">
    <div class="b-radius box-shadow h-100 w-100 d-flex">
        <div class="h-100 col-8">
            <h3 class="title m-5">@ViewData["title"]</h3>
            <div class="col-8 m-4 pre-scrollable">
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
                <div>teste scroll</div>
            </div>
        </div>
        <div class="col-3 box-shadow b-radius m-3" style="background-color: var(--light-grey); height: 80%; margin-top: 5%">
            <h5 class="text-danger d-flex justify-content-center mt-3">Itens a doar</h5>
        </div>
    </div>
</div>
