@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Quicksand&display=swap');

/*
    font-family: 'Courgette', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
*/

body {
}

.b-radius {
    border-radius: 20px;
}

.btn-link {
    font-weight: bold;
    font-size: 26px;
    color: var(--font-grey);
}

    .btn-link:hover {
        text-decoration: none;
        color: var(--main-red);
    }

.nav-link {
    font-size: 22px;
}

.current-page {
    color: var(--main-red);
    padding: 5px;
    border-bottom: var(--main-red) 3px solid;
}

.another-page {
    padding: 5px;
}

.btn-login {
    background-color: var(--light-red); 
    border-radius: 5px; 
    color: #fff;
}

.info-link {
    font-size: .8rem;
    margin: 3%;
    padding: 5px 10px;
    background-color: var(--light-grey);
    border-radius: 10px;
    display: flex;
    text-align: center;
}

.btn-abled, .btn-disabled {
    width: 22%;
    border-radius: 10px;
}
    .btn-abled:focus, .btn-disabled:focus {
        outline: none;
        box-shadow: none;
    }

.btn-abled {
    background-color: var(--main-red);
    color: #fff;
}
    .btn-abled:hover {
        color: #fff;
        background-color: var(--dark-red);
    }

.btn-disabled {
    background-color: var(--light-grey);
    color: var(--font-grey);
    border: var(--light-pink) 1px solid;
}
    .btn-pdisabled:hover {color: var(--font-grey);}

.link {
    color: var(--main-red);
}
    .link:hover {
        color: var(--main-red);
        text-decoration-color: var(--main-red);
    }

@media screen and (max-width: 1200px) {
    .text-ong {
        font-size: 16px;
    }
}

@media screen and (max-width: 1320px) {
    .item-card {
        width: 98% !important;
    }
}

@media screen and (min-width: 1900px) {

    .welcome-div {
        margin-top: 1.6rem;
    }

    .item-card {
        width: 30% !important;
    }

    .title {
        color: var(--main-red);
        font-weight: bold;
        font-size: 2.1rem;
        margin: 1.5rem;
    }

    .paragraph, .nav-link {
        font-size: 1.8rem;
    }

    .btn-login {
        font-size: 1.7rem;
        padding: 10% 15%;
    }

    .info-link {
        font-size: 1.3rem;
    }

    #div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #delivery-man {
        width: 180px;
    }
}
