@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Global_Impact</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estab.css" />
    <script href="~/js/site.js"></script>
</head>
<body class="mb-0">
    <header style="background-color: var(--header-bg); ">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 m-0">
            <div class="d-flex justify-content-between w-100 align-items-center" style="height: 15vh;">
                <div class="m-0 p-0">
                    <a class="navbar-brand col-4" asp-controller="Home" asp-action="Index"><img src="~/img/weFeed.png" width="140" /></a>
                </div>

                @RenderSection("Links")

                <div class="m-0 p-0">
                    @if (HttpContextAccessor.HttpContext.Session.Get("EstabSessao") != null)
                    {
                        <a class="navbar-brand" asp-controller="Home" asp-action="Logout">
                            <img src="~/img/portaFechada.png" id="porta" width="50" />
                        </a>
                    }
                    else
                    {
                        <div class="d-flex flex-column justify-content-center">
                            <a class="btn btn-login" asp-action="Login" asp-controller="home">Login</a>
                            <a class="link" asp-action="Cadastrar" asp-controller="estabelecimento">Realizar cadastro</a>
                        </div>
                    }


                </div>
            </div>
        </nav>
    </header>
    <div style="width: 95vw; height: 63vh; margin: 0 auto">
        <main role="main" class="pb-3 h-100 w-100">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted box-shadow mx-auto mt-0" style="background-color: var(--medium-grey); height: 13vh; width: 98vw; border-radius: 20px; position: fixed; bottom: 2%; left: 1%;">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <img src="~/img/weFeed.png" width="100" /> &copy; 2021 by Poágilers
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
